{% assign collection_group = products | map: 'id' %}
{% assign collection_group_thumb = collection_group | append : 'thumb' %}
{% assign collection_group_mobile = collection_group | append : 'mobile' %}

{% assign forLimit = limit %}

{% capture new_row %}
    <br class="clear product_clear" />
{% endcapture %}

{% comment %}Check to see if product in the collection matches the main product, if so, add 1 to the limit{% endcomment %}
{% for product in products limit: limit %}
  {% if product.id == skip_product.id  %}
    {% assign forLimit = limit | plus: 1 %}
  {% endif %}
{% endfor %}

<script type="application/ld+json">
  {
    "@context": "https://schema.org",
    "@type": "ListItem",
    "itemListElement": [
      {% for product in products limit: limit %}
        {
          "@type": "ListItem",
          "position": "{{ forloop.index | json }}",
          "url": "{{ shop.url }}{{ product.url }}",
          "name": "{{ product.title }}"
        } {%- unless forloop.last -%},{%- endunless -%}
      {% endfor %}
    ]
  }
</script>

<div class="products">
  {% for product in products limit: forLimit %}
    {% if product.id != skip_product.id  %}
      {% include 'product-thumbnail', sidebar: sidebar %}

      {% if products_per_row == 2 %}
        {% cycle collection_group: '', new_row %}
      {% elsif products_per_row == 3 %}
        {% cycle collection_group: '', '', new_row %}
      {% elsif products_per_row == 4 %}
        {% cycle collection_group: '', '', '', new_row %}
      {% endif %}
    {% endif %}
  {% endfor %}
</div>
