<div class="container-small">
  <div class="page-narrow">
    <h1 class="title page_title">{{ page.title }}</h1>
    <div class="page-narrow-content">
      {{ page.content }}
    </div>
  </div>
</div>
