{% include 'include-featured-text' %}

{% schema %}
  {
    "name": "Rich text",
    "class": "headline-section featured-content-section",
    "settings": [
      {
        "type": "text",
        "id": "anchor",
        "label": "Anchor"
      },  
      {
        "type": "image_picker",
        "id": "image",
        "label": "Logo",
        "info": "600 x 600px recommended"
      },
      {
        "type": "text",
        "id": "title",
        "label": "Heading",
        "default": "Talk about your brand"
      },
      {
         "type":      "range",
         "id":        "title-size",
         "min":       10,
         "max":       80,
         "step":       1,
         "unit":       "px",
         "label":     "Title font size",
         "default":   50
       },
       {
         "type": "text",
         "id": "subtitle",
         "label": "Subtitle",
         "default": "Sous-titre"
       },
       {
          "type":      "range",
          "id":        "subtitle-size",
          "min":       10,
          "max":       60,
          "step":       1,
          "unit":       "px",
          "label":     "Title font size",
          "default":   30
        },
        {
          "type": "color",
          "id": "subtitle-color",
          "label": "Subtitle color",
          "default": "#000"
        },
      {
        "type": "richtext",
        "id": "content",
        "label": "Text",
        "default": "<p>Use this text to share information about your brand with your customers. Describe a product, share announcements, or welcome customers to your store.</p>"
      },
      {
        "type": "text",
        "id": "button_label",
        "label": "Button label"
      },
      {
        "type": "url",
        "id": "button_link",
        "label": "Button link"
      },
      {
        "type": "select",
        "id": "text_size",
        "label": "Text size",
        "options": [
          {
            "value": "regular_text",
            "label": "Regular"
          },
          {
            "value": "featured_text",
            "label": "Large"
          }
        ],
        "default": "featured_text"
      },
      {
        "type": "select",
        "id": "text_alignment",
        "label": "Text alignment",
        "options": [
          {
            "value": "align_left",
            "label": "Left"
          },
          {
            "value": "center",
            "label": "Center"
          }
        ],
        "default": "center"
      }
    ],
    "presets": [
      {
        "name": "Rich text",
        "category": "Text"
      }
    ]
  }
{% endschema %}
